{% extends 'base.html' %}

{% block title %}
    Входящие заявки
{% endblock %}

{% block content %}
    <ul>
        {% for profile in senders %}
            <div class='card bg-light' style="width: 50rem;">
                <div class="card-body">
                    <h3>{{ profile }}</h3>
                    <form action="{% url 'accept_invite' %}" method='POST'>
                        {% csrf_token %}
                        <input type='hidden' name='profile_pk' value={{ profile.pk }}>
                        <button type='submit' class="btn btn-success">Принять заявку в друзья</button>
                    </form>
                    <form action="{% url 'reject_invite' %}" method='POST'>
                        {% csrf_token %}
                        <input type='hidden' name='profile_pk' value={{ profile.pk }}>
                        <button type='submit' class="btn btn-warning">Отклонить заявку в друзья</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}