{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{ profile.user }}
{% endblock %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'friends' %}">Друзья</a>
            <span class="tag tag-default tag-pill pull-xs-right">{{ friends_num }}</span>
        </li>
        <li class="list-group-item">
            <a href="{% url 'outgoing' %}">Исходящие заявки</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'incoming' %}">Входящие заявки</a>
        </li>
    </ul>
{% endblock content %}