{% extends 'base.html' %}

{% block title %}
    Пользователи
{% endblock %}

{% block content %}
    <ul>
        {% for profile in profiles %}
            <div class='card bg-light' style="width: 50rem;">
                <div class='card-body'>
                <h3>{{ profile }}</h3>
                {% if profile.user not in receivers and profile.user not in senders %}
                    <form action="{% url 'send_invite' %}" method='POST'>
                        {% csrf_token %}
                        <input type='hidden' name='profile_pk' value={{ profile.pk }}>
                        <button type='submit' class="btn btn-primary">Отправить заявку в друзья</button>
                    </form>

                    {% elif profile.user in receivers and request.user not in profile.friends.all %}
                        <div>    
                            <button class="btn btn-light">Ожидает подтверждения</button>
                        </div>

                {% elif request.user in profile.friends.all %}
                    <form action="{% url 'delete_friend' %}" method='POST'>
                        {% csrf_token %}
                        <input type='hidden' name='profile_pk' value={{ profile.pk }}>
                        <button type='submit' class="btn btn-danger">Удалить из друзей</button>
                    </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </ul>
{% endblock %}